<nav class="row">
    <div class="position-relative">
        <div class="sign position-relative top-3 start-20 bg-light">
            <a class="nav-link text-center" href="/">Lab Manager </a>
        </div>
        <script src="/javascript/labmanager.js"></script>
    </div>
</nav>