<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fas fa-microscope fa-4x"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-grid gap-2 d-md-block">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <button class="btn btn-primary" type="button">
                        <a class="nav-link" href="/login">Login</a>
                    </button>
                    <button class="btn btn-primary" type="button">
                        <a class="nav-link" href="/signup">Sign-up</a>
                    </button>
                </ul>
             
            </div>-->
            <div class="sign">
                <span class="fast-flicker">L</span>ab Man<span class="flicker">a</span>ger
            </div>
           <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign-up</a>
                </li>


            </ul>-->

            <div class="container">
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

                    <div class="col">
                        <div class="center-outer">
                            <div class="center-inner">

                                <div class="bubbles">
                                    <h1>Lab Manager</h1>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="center-outer">
                            <div class="center-inner">

                                <div class="bubbles">
                                    <h1>Lab Manager</h1>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="center-outer">
                            <div class="center-inner">

                                <div class="bubbles">
                                    <h1>Lab Manager</h1>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="center-outer">
                            <div class="center-inner">

                                <div class="bubbles">
                                    <h1>Lab Manager</h1>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-sm-6 col-md-8">
                            <div class="col">
                                <div class="center-outer">
                                    <div class="center-inner">

                                        <div class="bubbles">
                                            <h1>Lab Manager</h1>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4"></div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-6 col-md-4">
                    <div class="center-outer">
                        <div class="center-inner">

                            <div class="bubbles">
                                <h1>Lab Manager</h1>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row g-0">

                <div class="col-6 col-md-4">
                    <div class="center-outer">
                        <div class="center-inner">

                            <div class="bubbles">
                                <h1>Lab Manager</h1>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-grid gap-2 d-md-block">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <button class="btn btn-primary" type="button">
                            
                            <a class="nav-link" href="/login"><i class="fas fa-address-card fa-3x"></i></a>
                        </button>
                        <button class="btn btn-primary" type="button">
                            <a class="nav-link" href="/signup"><i class="fas fa-pen fa-3x"></i></a>
                        </button>
                    </ul>
                    
            
                </div>
            <script src="/javascript/labmanager.js"></script>
        </div>



    </div>
 </nav>