<!DOCTYPE html>
<html lang="en">
<style>
    .notification-box{
        background-color: lightyellow;
        color: maroon;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Manager</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Lab Manager</a>
            </h1>
            {{#if loggedIn}}
            <nav>
                <button id="logout" class="btn-no-style">logout</button>
            </nav>
            {{else}}
            <nav>
                <a href="/login">login</a> |
                <a href="/signup">signup</a>
            </nav>
           {{/if}}
        </header>
        {{#if loggedIn}}
        <div>
            <hr>
            <nav>&nbsp;&nbsp;
            <a href="/run-metrics">Run Metrics</a> &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/patients">Patient List</a> &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/results">Results Summary</a> &nbsp;&nbsp;|&nbsp;&nbsp;
            Tech Metrics&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/accession-case">Accession Case</a> &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/create-patient">Create Patient</a> &nbsp;&nbsp;|&nbsp;&nbsp;
            </nav>
            <hr>
        </div>
        {{/if}}
        {{#if notification}}
        <div class="notification-box">
            {{notification}}
        </div>
        {{/if}}
        <main>
            {{{ body }}}
        </main>
        
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    
</body>

</html>