<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Manager</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div id="container">
        <div id="content">
            <div id="about">
                <h1>
                    <div style='float:left; margin-bottom:20px;'>
                        Lab Manager
                    </div>
                    <div class="stage">
                        <div class="pyramid3d">
                            <div class="triangle side1"></div>
                            <div class="triangle side2"></div>
                            <div class="triangle side3"></div>
                            <div class="triangle side4"></div>
                        </div>
                    </div>
                </h1>
                
            </div>
        </div>
    </div>

</body>

</html>