<form class="accession-form">
    <label for="patient">Select a patient:</label>
    <select id="patient" name="patient_dropdown">
        {{#each patients as |item|}}
        <option value="{{item.id}}">{{item.last_name}}, {{item.first_name}} DOB:{{item.dob}}</option>
        {{/each}}
    </select> </br>
    <label for="sequence_name">Enter a sequence name:</label><br>
    <input type="text" id="seq_name" name="seq_name"><br>
    <input type="submit">
</form>
<script src="/javascript/accession-case.js"></script>