<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <form class="create-patient-form">
                <label for="first_name">First Name:</label><br>
                <input type="text" class="form-control" id="first_name" name="first_name"><br>
                <label for="last_name">Last Name:</label><br>
                <input type="text" class="form-control" id="last_name" name="last_name"><br>
                <label for="dob">Date of Birth:</label><br>
                <input type="date"  class="form-control" id="dob" name="dob"><br>
                <input type="submit">
            </form>
        </div>
    </div>
</div>

<script src="/javascript/create-patient.js"></script>