<form class="create-patient-form">
    <label for="first_name">First Name:</label><br>
    <input type="text" id="first_name" name="first_name"><br>
    <label for="last_name">Last Name:</label><br>
    <input type="text" id="last_name" name="last_name"><br>
    <label for="dob">Date of Birth:</label><br>
    <input type="date" id="dob" name="dob"><br>
    <input type="submit">
</form>
<script src="/javascript/create-patient.js"></script>