<div class="container">

    <form class="login-form">
        <div class="row">

            <div class="col-sm-5 mb-4">
                <input type="text" placeholder="username" class="form-control" id="username-login" />
                <span id="error-username"></span>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-5 mb-4">
                <input type="password" placeholder="password" class="form-control" id="password-login">
                <span id="error-password"></span>
            </div>
        </div>


        <div class="row">

            <div class="col-sm-3   mb-4">
                <input type="checkbox" class="form-check-input" id="exampleCheck1"> <label class="form-check-label"
                    for="exampleCheck1">Remember Me</label>
            </div>
            <div class="col-sm-2 text-left">
                <button type="submit" class="btn btn-danger">Login</button>
            </div>
        </div>
        <div class="mb-3 form-check">


        </div>

    </form>
</div>

<script src="/javascript/login.js"></script>