
<p>List of patients</p>

<table id="patients-table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>Clade</th>
    </tr>
    {{#each patients as |patient|}}
        {{> patient-info patient }}
    {{/each}}
</table>