<div>
    
    <div>
        <button type="submit">Accesion Case</button>
    </div>
    <div>
        <button type="submit">Start Run</button>
    </div>
    <div>
        <button type="submit">Enter Results</button>
    </div>
</div>

<script src="/javascript/login.js"></script>