<form class="signup-form">
    <div>
        <label for="firstname-signup">First name: </label>
        <input type="text" id="firstname-signup" />
    </div>
    <div>
        <label for="lastname-signup">Last name: </label>
        <input type="text" id="lastname-signup" />
    </div>
    <div>
        <label for="supervisor-signup">Supervisor:</label>
        <input type="text" id="supervisor-signup" />
    </div>
    <div>
        <label for="username-signup">Username: </label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup">password: </label>
        <input type="password" id="password-signup" />
        <span id="error">{{message}}</span>
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>

<script src="/javascript/signup.js"></script>