
<p>This page is the Tech starting page that will show results</p>
</br>
</br>
</br>
<button id="btn-show-patients" class="btn-no-style">Show Patients</button>
<ol class="post-list">
    {{#each patients as |patient|}}
    <li>
        {{> patient-info patient }}
    </li>
    {{/each}}
</ol>
<script src="/javascript/tech-main.js"></script>