/* @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900); */

body {
  background-color: cyan;
}

.fa,
.fas {
  color: red;
  font-weight: 900;
}

.nav-link  {
  animation-name: examples;
  animation-duration: 30s;
}


@keyframes examples {
  0% {
    color: red;
  }
  25% {
    color: rgb(228, 8, 248);
  }
  30% {
    color: purple;
  }
  50% {
    color: blue;
  }
  75% {
    color: orange;
  }
  100% {
    color: green;
  }
}
/* Non essential CSS - Just for example centering */

html, body {
width: 100%;
height: 100%;
margin: 0;
}

.center-outer {
display: table;
width: 100%;
height: 100%;
}

.center-inner {
display: table-cell;
vertical-align: middle;
text-align: center;
}

/* Essential CSS - Makes the effect work */

body {
background-color: #3498db;
}

.bubbles {
display: inline-block;
font-family: arial;
position: relative;
}

.bubbles h1 {
position: relative;
margin: 1em 0 0;
font-family: 'Luckiest Guy', cursive;
color: rgb(12, 118, 160);
z-index: 2;
}

.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 10px;
background-color: rgb(194, 16, 194);
z-index: 1;

}
.individual-bubble {
  width: 100px;
  height: 100px;
  color: red;
  animation-name: example;
  animation-duration: 20s;
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.bg-light {
background-color: rgba(247, 249, 250, 0)!important;
}
.bubbles h1 {
position: relative;
margin: 1em 0 0;
font-family: 'Luckiest Guy', cursive;
color: rgba(12, 118, 159, 0);
z-index: 2;
}