/* @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900); */

body {
  background-color: rgb(0, 0, 0);
}

.fa,
.fas {
  color: red;
  font-weight: 900;
}


.nav-link {
  animation-name: examples;
  animation-duration: 30s;
}
.btn-primary {
color: #fff;
background-color: rgba(252, 13, 13, 0);
border-color: rgba(13, 110, 252, 0);
animation-name: examples;
  animation-duration: 30s;
}
@keyframes examples {
  0% {
    color: red;
  }
  25% {
    color: rgb(228, 8, 248);
  }
  30% {
    color: purple;
  }
  50% {
    color: blue;
  }
  75% {
    color: orange;
  }
  100% {
    color: rgb(38, 224, 38);
  }
}
/* Non essential CSS - Just for example centering */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.center-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.center-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Essential CSS - Makes the effect work */

body {
  background-color: #34e2d9;
}

.bubbles {
  display: inline-block;
  font-family: arial;
  position: relative;
}

.bubbles h1 {
  position: relative;
  margin: 1em 0 0;
  font-family: "Luckiest Guy", cursive;
  color: rgb(12, 118, 160);
  z-index: 2;
}

.individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: rgb(16, 194, 96);
  z-index: 1;
}
.individual-bubble {
  width: 100px;
  height: 100px;
  color: rgb(0, 81, 255);
  animation-name: example;
  animation-duration: 2.5s;
}

@keyframes example {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: rgb(255, 0, 242);

  }
  75% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}

.bg-light {
  background-color: rgba(247, 249, 250, 0) !important;
}
.bubbles h1 {
  position: relative;
  margin: 1em 0 0;
  font-family: "Luckiest Guy", cursive;
  color: rgba(12, 118, 159, 0);
  z-index: 2;
}
@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

/*body {
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}
*/
.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #e6fffd;
    text-shadow: 0 0 0.6rem #e8ffe6, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #6f65ff;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

/*.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}
*/
@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff6565,
      -0.2rem 0.1rem 1rem #65a8ff, 0.2rem 0.1rem 1rem #fff065,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #24ff5b;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
.mo-fire-1 {
  width: 200px;
  height: auto;
  position: absolute;
  /* left:90%; */
  margin-left: 40px;
  border-bottom: 100px;
  margin-bottom: 70px;
}
.mo-fire-2 {
  width: 200px;
  height: auto;
  position: absolute;
  /* left:70%; */
  margin-left: 40px;
  border-bottom: 100px;
  margin-bottom: 70px;
}
.mo-fire-3 {
  width: 200px;
  height: auto;
  position: absolute;
  /* left:50%; */
  margin-left: 40px;
  border-bottom: 100px;
  margin-bottom: 70px;
}
.mo-fire-4 {
  width: 200px;
  height: auto;
  position: absolute;
  /* left:30%; */
  margin-left:40px;
  border-bottom: 100px;
  margin-bottom: 70px;
}

.mo-fire {
  width: 200px;
  height: auto;
  position: absolute;
  /* left:10%; */
  margin-left: 40px;
  border-bottom: 100px;
  margin-bottom: 70px;
}

/* .mo-fire svg {
  width: 100%;
  
  position: relative
} */


/*.mo-fire-4 svg {
  width: 100%;
  height: auto;
  position: relative
}
*/
.flame {
  animation-name: flamefly;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transform-origin: 50% 50% 0;
}
.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}
.flame3.two{
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameWobble;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.flame-main.one {
  animation-duration: 4s;
  animation-delay: 1s;
}
.flame-main.two {
  animation-duration: 3s;
  animation-delay: 2s;
}
.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}
.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}
.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}
@keyframes flameWobble {
  50% {
    transform: scale(1,1.2) translate(0, -30px) rotate(-2deg);
  }
}
@keyframes flamefly {
  0%{
    transform: translate(0) rotate(180deg);
  }
   50% {
     opacity: 1;
  }
  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}
.imgHeight{
  height: 70vh;
}